.des{
border: 1px solid #000;
align-items: center;
text-align: center;
justify-content: center;
display: flex;
}
.mob{
display: none;
}

@media (max-width:425px){
  .des{
    display: none;
    }
    .mob{
      border: 1px solid #000;
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
    }
}



.mobiletext{
  color: red;
  font-size: larger;
  background-color: aliceblue;
  display: none;
}

.desktoptext{
  color: black;
  font-size: larger;
  background-color: aliceblue;
  display: block;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media (min-width:320px) and (max-width:425px) {
  .mobiletext{
    color: red;
    font-size: larger;
    background-color: aliceblue;
    display: block;
  }
  
  .desktoptext{
    color: black;
    font-size: larger;
    background-color: aliceblue;
    display: none;
  } 
}

.mobile1{
color: green;
display: none;
}
.desktop1{
  color: red;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

@media (min-width:320px) and (max-width:425px){
  
  .mobile1{
    color: green;
    margin: 50px 0px 0px 0px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    text-align: center;
    display: block;
    }
    .desktop1{
      color: red;
      display: none;
    }
  
}

body.light{
  background-color: aliceblue;
  color: #000;
}

body.dark{
  background-color:#000;
  color:red;
}